@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.row {
    margin: 0;
    padding: 0;
}

/* ******************************************* Colours */

.bg-color-title {
    background-color: #241d15;
}

.bg-color-nav {
    background-color: #79cee2;
}

/* ----------------------------------------Special paddings/margins/text */

.image-div {
    padding: 0;
    margin: 0;
}

img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 390px;
}

.contact-page, .map-page, .home-page {
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #79cee2;
    color: #241d15;
}

/* ******************************************* Header */

header {
    margin: 0;
}

#title-container {
    min-height: 120px;
}

#title {
    margin-left: 17%;
    margin-top: 30px;
}

#title a {
    text-decoration: none;
    font-family: "Noto Serif", sans-serif;
    font-weight: 300;
    font-size: 46px;
    color: #79cee2;
}

.nav-item {
    color: #241d15;
    font-family: "Urbanist", sans-serif;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-left: 7%;
}

.nav-item:hover {
    color: white !important;
}

.navbar-nav a {
    text-align: center;
}

.navbar-nav a i {
    font-size: 20px;
}

/* ******************************************* Footer */

footer {
    margin: 0;
}

.footer-details {
    --bs-gutter-x: 0;
}

#footer-left {
    background-color: #241d15;
}

#footer-left h5 a, #footer-left h5 {
    color:#79cee2;
    font-family: "Noto Serif", sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
}

#footer-right {
    background-color: #79cee2;
}

#footer-right h5 {
    color:#241d15;
    font-family: "Urbanist", sans-serif;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 10px;
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    margin: 0 30px;
    color: #79cee2;
    background: #241d15;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: white;
}

/* ******************************************* Contact page */

#page3 {
    --bs-gutter-x: 0;
}

.contact-page h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 200;
}

.contact-page h5 {
    font-weight: 200;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #79cee2;
    background-color: #241d15;
}

#thanks-message {
    display: none;
}

textarea {
    resize: none;
}

/* ******************************************* Map page */

gmp-map {
    height: 250px;
    width: 400px;
    margin: auto;
}

.map-page p {
    padding: 30px 30px 10px 30px;
    text-align: center;
}

/* ******************************************* Home page */

.home-page {
    padding: 30px;
}

.home-page h2 {
    padding-bottom: 20px;
    font-weight: 250;
}

/* ******************************************* Media queries */

@media only screen and (max-width: 767.5px) {

    gmp-map {
        padding-bottom: 20px;
    }

}



